@use "../../../sass/utils" as *;

.details {
  padding: 2.5rem 1.75rem;

  img {
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--bs);
    max-height: 20rem;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  &__grid {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &__text-container {
    margin-top: 3.15rem;

    h2 {
      font-size: 1.625rem;
      font-weight: var(--fw-bold);
      margin-bottom: 1.875rem;
    }
  }

  &__description-list {
    display: grid;
    gap: 2.875rem;
  }

  &__borders {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem 0.625rem;
    margin-top: 1.5rem;

    button {
      padding: 0;
      justify-content: center;
      width: 6rem;
      height: 1.75rem;
      font-size: 0.875rem;
    }

    &__title,
    &__none {
      font-size: 1rem;
    }

    &__none {
      font-weight: var(--fw-light);
    }

    &__title {
      @include breakpoint-down(medium) {
        width: 100%;
      }
    }
  }
}

@include breakpoint-up(large) {
  .details {
    padding-top: 5rem;
    padding-bottom: 5rem;

    &__image-container {
      display: grid;
      align-items: center;
    }

    img {
      width: 100%;
      max-height: 100%;
    }

    &__text-container {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 9.125rem;
      margin-top: 5rem;
    }

    &__description-list {
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }

    &__borders {
      margin-top: 4rem;
    }
  }
}

@include breakpoint-up(x-large) {
  .details {
    h2 {
      font-size: 2.25rem;
    }

    &__borders {
      button {
        font-size: 1rem;
      }

      &__title,
      &__none {
        font-size: 1.125rem;
      }
    }
  }
}
